:root{
  --main: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
body {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

button,
input {
  font-family: inherit;
}

body{
  font-family: 'Montserrat Alternates';
  font-weight: 400;
  font-size: 16px;

}
.header {
}
.logo {
}
.logo-img {
}
.logo-text {
  font-size: 12px;
  line-height: 15px;
}
.logo-text-span {
  font-family: 'Sacramento';
  font-size: 12px;
  line-height: 18px;
}
.menu {
  display: flex;
  column-gap: 50px;
}
.menu-item {
  font-size: 12px;
  line-height: 15px;
}
.settings {
}
.settings-thema {
}
.settings-user {
}
.user-name {
}
.main {
}
.footer {
}